@model MvcPracticaAWS.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="mt-3">
    <h4>Usuario</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
    </dl>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Añadir Imagen</h5>
            <input type="hidden" class="form-control" name="idUsuario" value="@Model.IdUsuario">
            <div class="form-group mt-2">
                <label>Titulo</label>
                <input type="text" class="form-control" name="titulo">
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="file" class="form-control" name="imagen">
            </div>
            <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
    </div>
</form>

@if (Model.Fotos != null && Model.Fotos.Any()) {
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Titulo</th>
                <th>Imagen</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Foto foto in Model.Fotos) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => foto.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => foto.Imagen)
                </td>
                <td>
                    <a asp-action="DeleteFoto" asp-controller="Home"
                       asp-route-idUsuario="@Model.IdUsuario"
                       asp-route-imagen="@foto.Imagen">
                        <i class="bi bi-dash-circle-fill text-dark"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="DetailsImagen" asp-controller="Home"
                       asp-route-imagen="@foto.Imagen">
                        <i class="bi bi-info-circle-fill text-dark"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
